---
layout: default
title: Curriculum Vitae
description: My curriculum vitae
container_class: mw-lg
---

<h2>About me</h2>

<div class="cv-about pb-2">
	<div class="media">
		{% if site.data.about.avatar %}
			<img src="{{ site.data.about.avatar }}" class="about-avatar mr-3" alt="{{ site.data.about.name }}" />
		{% endif %}
		
		<div class="media-body">
			<h5 class="mt-0">{{ site.data.about.name }}</h5>
			<p class="mb-2">{{ site.data.about.biography }}</p>
			<ul class="about-social-links">
				<li class="about_me"><a href="{{ '/about' | relative_url }}"><i class="fas fa-info-circle fa-fw"></i></a></li>
				{% assign services = 'linkedin,github' | split: ',' %}
				{% for service in services %}
					{% if site.data.about.social[service] %}
						<li class="{{ service }}"><a href="{{ site.data.about.social[service].href }}"><i class="{{ site.data.about.social[service].icon }}"></i></a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<h2>Education</h2>
<div class="cv-items">
	<div class="item">
		<div class="content">
			<h4>
				EPITA
				<small class="d-print-none"><a href="https://www.epita.fr/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
			</h4>
			<p class="position">Engineering cycle – Computer Science</p>
			<div class="description">
				<p><i class="fas fa-info-circle fa-fw"></i> Mostly distance learning, because of the COVID-19 pandemic.</p>
				<h6><i class="fas fa-university fa-fw"></i> Curriculum:</h6>
				<ul>
					<li>Computing: Algorithms, Programming, Computer Architecture, Databases, Networking</li>
					<li>Scientific: Maths (integrals, series, functions, signals, ...)</li>
					<li>Humanities: Business history, Society and equality</li>
					<li>Electives: General French Law</li>
				</ul>
				<h6><i class="fas fa-code fa-fw"></i> Prog. languages: C, C++, Python, SQL</h6>
				<h6><i class="fas fa-graduation-cap fa-fw"></i> School projects:</h6>
				<ul>
					<li>Malloc – a re-implementation of the malloc functions library, in C.</li>
					<li>42sh – a POSIX shell developed, in a group, in C.</li>
				</ul>
			</div>
		</div>
		<div class="meta">
			<p class="location">Paris, France</p>
			<p class="date">Sept. 2020 – Today</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>
				EPITA
				<small class="d-print-none"><a href="https://www.epita.fr/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
			</h4>
			<p class="position">Preparatory cycle – Computer Science</p>
			<div class="description">
				<p><i class="fas fa-info-circle fa-fw"></i> Reduced and mandatory curriculum replacing studies abroad, because of the COVID-19 pandemic.</p>
				<h6><i class="fas fa-university fa-fw"></i> Curriculum:</h6>
				<ul>
					<li>Computing: Programming</li>
					<li>Humanities: French, English, Cultural opening</li>
				</ul>
				<h6><i class="fas fa-code fa-fw"></i> Prog. languages: C, Rust</h6>
			</div>
		</div>
		<div class="meta">
			<p class="location">Paris, France</p>
			<p class="date">March 2020 – June 2020</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>
				Griffith College
				<small class="d-print-none"><a href="https://www.griffith.ie/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
			</h4>
			<p class="position">Study Abroad – Computer Science</p>
			<div class="description">
				<p><i class="fas fa-info-circle fa-fw"></i> Semester fully completed despite EPITA's decision to replace it with their own curriculum (see above).</p>
				<h6><i class="fas fa-university fa-fw"></i> Curriculum:</h6>
				<ul>
					<li>Algorithms, Maths, Mobile Development, Operating System Design</li>
				</ul>
				<h6><i class="fas fa-code fa-fw"></i> Prog. languages: Java</h6>
				<!--
				<ul>
					<li>Coded in Java for practicals.</li>
					<li>Made Android applications in Java using Android Studio.</li>
				</ul>
				-->
			</div>
		</div>
		<div class="meta">
			<p class="location">Dublin, Ireland</p>
			<p class="date">Jan. 2020 – May 2020</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>
				EPITA
				<small class="d-print-none"><a href="https://www.epita.fr/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
			</h4>
			<p class="position">Preparatory cycle – Computer Science</p>
			<div class="description">
				<h6><i class="fas fa-university fa-fw"></i> Curriculum:</h6>
				<ul>
					<li>Computing: Algorithms, Programming, Computer Architecture</li>
					<li>Engineering: Maths, Physics, Electronics</li>
					<li>Humanities: French, English, Cultural opening</li>
				</ul>
				<h6><i class="fas fa-code fa-fw"></i> Prog. languages: C, C#, Python, oCaml</h6>
				<h6><i class="fas fa-graduation-cap fa-fw"></i> School projects:</h6>
				<ul>
					<li><a href="https://g00pix.github.io/ProjetBlast/">Blast</a> – a video game made in group with the Unity game engine.</li>
					<li>OCR Gang – an OCR program made in a group, coded in C.</li>
				</ul>
				<h6><i class="fas fa-book fa-fw"></i> Personal and/or extracurricular projects:</h6>
				<ul>
					<li>MCQ Parser – a program for correcting data from MCQs.</li>
					<li><a href="https://epita.it/">EPITA.it</a> – a web portal to links related to the school.</li>
					<li><a href="https://epidocs.eu/">Epidocs</a> – a grouping of useful projects and archives for students (past exam papers, etc..)</li>
				</ul>
			</div>
		</div>
		<div class="meta">
			<p class="location">Paris, France</p>
			<p class="date">Sept. 2018 – Dec. 2019</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>
				Jules Verne High School
				<small class="d-print-none"><a href="https://jules-verne.paysdelaloire.e-lyco.fr/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
			</h4>
			<p class="position">General Scientific Studies, Specialization in Maths</p>
			<p class="award">Scientific Baccalaureate (Honours: Fairly Good)</p>
			<div class="description">
				<h6><i class="fas fa-university fa-fw"></i> Curriculum:</h6>
				<ul>
					<li>Scientific studies: Maths, Physics, Chemistry, Biology</li>
					<li>Languages: French, English, Spanish</li>
				</ul>
				<h6><i class="fas fa-hands-helping fa-fw"></i> Associative life:</h6>
				<ul>
					<li>Communication Officer at the Maison des Lycéens (2017-2018).</li>
				</ul>
				<h6><i class="fas fa-book fa-fw"></i> Personal and/or extracurricular projects:</h6>
				<ul>
					<li><a href="https://ljv.fr/">LJV.fr</a> – a web portail with links to the school official website and other student projects.</li>
					<li>Le Nautilus – an online blog and newspaper managed by a group of students.</li>
				</ul>
			</div>
		</div>
		<div class="meta">
			<p class="location">Nantes, France</p>
			<p class="date">Sept. 2015 – July 2018</p>
		</div>
	</div>
</div>

<h2>Work experience</h2>
<div class="cv-items">
	<div class="item">
		<div class="content">
			<h4>Grand Chancery of the Legion of Honor</h4>
			<p class="position">Intern (as part of the required internship in engineering school)</p>
			<ul>
				<li>Discovery of the IT sector at work and the maintenance of IT equipment.</li>
				<li>Discovery of IT in offices and schools, and challenges associated with it.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="location">Paris, France</p>
			<p class="date">June 2019 – July 2019</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Natrox Group</h4>
			<p class="position">Technical Director & Developer on projects</p>
			<ul>
				<li>March 2015 – Natropic's: Image hosting service.</li>
				<li>Nov. 2015 – Natrox Cloud: File hosting service.</li>
				<li>April 2016 – Natrox Games: Group of game servers.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="date">March 2015 – 2016</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Gfi Informatique Ouest</h4>
			<p class="position">Intern (as part of the required internship in middle school)</p>
			<ul>
				<li>Discovery of a large company in the digital sector.</li>
				<li>Discovery of its administrative, commercial and IT services.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="location">Nantes, France</p>
			<p class="date">Fev. 2015</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Sensipode</h4>
			<p class="position">Intern (as part of the required internship in middle school)</p>
			<ul>
				<li>Discovery of a start-up specialized in web design.</li>
				<li>Development of HTML/JavaScript animation modules.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="location">Nantes, France</p>
			<p class="date">Fev. 2015</p>
		</div>
	</div>
</div>

<h2>Associative experience</h2>
<div class="cv-items">
	<div class="item">
		<div class="content">
			<h4>
				2GETHER
				<small class="d-print-none"><a href="https://2gether-asso.fr/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
			</h4>
			<p class="position">Co-president</p>
			<ul>
				<li>Jan. 2020 – Co-founded the association under the French law of July 1, 1901.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="date">Jan. 2020 – Today</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Associative Life – Jules Verne High School</h4>
			<p class="position">Communication Officer (at the Maison des Lycéens)</p>
			<ul>
				<li>
					Feb. 2017 – Development of an unofficial portal and web platform: LJV.fr
					<small class="d-print-none"><a href="https://ljv.fr/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
				</li>
				<li>Feb. 2017 – Creation of an online high school newspaper with classmates: "Le Nautilus"</li>
				<li>
					Jan. 2018 – Registered the Maison des Lycéens on Google Maps
					<small class="d-print-none"><a href="https://goo.gl/maps/97cHZgS2BYHYnVSd7"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
				</li>
				<li>
					Feb. 2018 – Development of a showcase website for the Maison des Lycéens
					<small class="d-print-none"><a href="https://mdl.ljv.fr/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
				</li>
			</ul>
		</div>
		<div class="meta">
			<p class="location">Nantes, France</p>
			<p class="date">Sept. 2017 – July 2018</p>
		</div>
	</div>
</div>

<h2>Skills</h2>
<div class="cv-items">
	<div class="item">
		<div class="content">
			<h4>Programming languages</h4>
			<ul>
				<li>Web: PHP, JavaScript, HTML, CSS</li>
				<li>Database: SQL (MySQL, PostgreSQL)</li>
				<li>Software: C, C#, Python, Java, Rust, OCaml, Processing</li>
				<li>Robotics: Arduino</li>
			</ul>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Frameworks</h4>
			<ul>
				<li>Desktop Apps: ElectronJS</li>
				<li>Mobile Apps: Android Studio</li>
				<li>Game Engines: Unity</li>
			</ul>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Librairies</h4>
			<ul>
				<li>Web Design: Bootstrap, FontAwesome</li>
				<li>Web Scripting: jQuery</li>
			</ul>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Web CMS</h4>
			<ul>
				<li>Wordpress</li>
			</ul>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Tools</h4>
			<ul>
				<li>Git, Github</li>
				<li>LaTeX, Office Suite</li>
				<li>FOG Project</li>
			</ul>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Administrative</h4>
			<ul>
				<li>Drafting of the articles of association, under the French law</li>
			</ul>
		</div>
	</div>
</div>

<h2>Languages</h2>
<div class="cv-items">
	<div class="item">
		<div class="content">
			<h4>French</h4>
			<p class="position">Native language</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>English</h4>
			<p class="position">Advanced (C1)</p>
			<p class="award">Erasmus Language Assessment: C1</p>
			<p class="award">TOEIC: 925</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Spanish</h4>
			<p class="position">Elementary (A2)</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>German</h4>
			<p class="position">Begginer (A1)</p>
		</div>
	</div>
</div>

<h2>Projects</h2>
<!-- This should show a link to matiboux.com, which would display a list of my projets -->
<!-- Otherwise, the list would get too long for this page -->
<!-- DO IT ALREADY GDMIT -->
<div class="cv-items">
	<div class="item">
		<div class="content">
			<h4>MCQ Parser</h4>
			<p class="position">Developer – Extra-curricular project</p>
			<ul>
				<li>Coded in Python.</li>
				<li>Correct students' answers at the MCQ test and calculate their grade.</li>
				<li>Extra-curricular project assigned by an EPITA professor.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="location">EPITA, Paris</p>
			<p class="date">April 2019 – May 2019</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>
				Blast
				<small class="d-print-none"><a href="https://g00pix.github.io/ProjetBlast/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
			</h4>
			<p class="position">Developer – School group project</p>
			<ul>
				<li>Made with Unity in C#.</li>
				<li>Group student project realized as part of my studies at EPITA.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="location">EPITA, Paris</p>
			<p class="date">Dec. 2019 – June 2019</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>
				Oli
				<small class="d-print-none"><a href="https://olifw.net/"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
			</h4>
			<p class="position">Creator & Developer – Personal project</p>
			<ul>
				<li>An open source PHP framework designed to help creating websites apps.</li>
				<li>Easy integration with a MySQL database and built-in user management.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="date">Nov. 2014 – Today</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Personal projects (Matiboux.com)</h4>
			<p class="position">Creator & Developer</p>
			<ul>
				<li>Juil. 2014 – ImgShot: Image hosting service.</li>
				<li>Juil. 2014 – KeyGen: Random password generation service.</li>
				<li>Feb. 2016 – UrlShortener: Web link shortning service.</li>
			</ul>
		</div>
		<div class="meta">
			<p class="date">July 2014 – Today</p>
		</div>
	</div>
</div>

<h2>Accomplishments</h2>
<div class="cv-items">
	<div class="item">
		<div class="content">
			<h4>TOEIC Mock Test</h4>
			<p class="award">Score: 945</p>
		</div>
		<div class="meta">
			<p class="location">EPITA, Paris</p>
			<p class="date">February 2, 2019</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Final Language Assessment</h4>
			<p class="award">Level achieved: C1</p>
			<div class="description">
				<h6><i class="fas fa-award fa-fw"></i> Results by skill:</h6>
				<ul>
					<li>Grammar: B2</li>
					<li>Vocabulary: C1</li>
					<li>Reading comprehension: C2</li>
					<li>Listening comprehension: C2</li>
				</ul>
			</div>
		</div>
		<div class="meta">
			<p class="location">Erasmus OLS</p>
			<p class="date">May 17, 2020</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>First Language Assessment</h4>
			<p class="award">Level achieved: C1</p>
			<div class="description">
				<h6><i class="fas fa-award fa-fw"></i> Results by skill:</h6>
				<ul>
					<li>Grammar: B2</li>
					<li>Vocabulary: B2</li>
					<li>Reading comprehension: C2</li>
					<li>Listening comprehension: C2</li>
				</ul>
			</div>
		</div>
		<div class="meta">
			<p class="location">Erasmus OLS</p>
			<p class="date">Dec. 13, 2019</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>TOEIC Mock Test</h4>
			<p class="award">Score: 925</p>
		</div>
		<div class="meta">
			<p class="location">EPITA, Paris</p>
			<p class="date">May 11, 2019</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>TOEIC Mock Test</h4>
			<p class="award">Score: 900</p>
		</div>
		<div class="meta">
			<p class="location">EPITA, Paris</p>
			<p class="date">Sept. 6, 2018</p>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<h4>Scientific Baccalaureate</h4>
			<p class="award">Honours: Fairly Good</p>
		</div>
		<div class="meta">
			<p class="location">Jules Verne High School, Nantes</p>
			<p class="date">June 2018</p>
		</div>
	</div>
</div>
