version: '3.4'

# Services definition for building & deploying

services:

  app:
    # Build
    image: ${IMAGES_PREFIX:-app}-v2:${DOCKER_TAG:-latest}
    build:
      context: ./v2
      dockerfile: ./Dockerfile
      target: app_prod
      args:
        PORT: ${HTTP_DOCKER_PORT:-8080}
        NGINX_HOST: ${NGINX_HOST:-localhost}
    # Deploy
    ports:
      - "${HTTP_PORT:-80}:${HTTP_DOCKER_PORT:-8080}" # HTTP
