version: '3.4'

# Services definition for building & deploying

services:

  app:
    # Build
    image: ${IMAGES_PREFIX:-app}-v1:${DOCKER_TAG:-latest}
    build:
      context: ./v1
      dockerfile: ./Dockerfile
      target: app_prod
    # Deploy
    ports:
      - "${HTTP_PORT:-80}:${HTTP_DOCKER_PORT:-8080}" # HTTP
