---
layout: home
title: Mathieu GUÉRIN
avatar:
  file: /assets/profile.jpg
  alt: Mathieu GUÉRIN
---

<div class="row">
	<div class="col-lg-5 mb-4 mb-lg-0 text-center text-sm-left">
		<p>
			Currently in my final year as an IT engineer student at <a href="https://www.epita.fr/">EPITA</a> in Data Science and Artificial Intelligence.
			I'm also skilled as a back-end developer, leaning full-stack in web development.
			I am involved in various projects both as part of my curriculum, and as a hobby.
		</p>
		<p>
			I am currently looking for a job or internship starting in February 2022.
			I would welcome any opportunity to grow my expertise in fields such as Data Science, Artificial Intelligence or Big Data.
		</p>
		<p>
			On this website you can find information about me and my projects.
			You can also find me on the following platforms:
		</p>
		<ul class="social-icons">
			{% assign services = 'github,linkedin' | split: ',' %}
			{% for service in services %}
				{% if site.data.about.social[service] %}
					<li class="{{ service }}"><a href="{{ site.data.about.social[service].href }}" class="{{ site.data.about.social[service].icon }} fa-fw"></a></li>
				{% endif %}
			{% endfor %}
		</ul>
		<p>
			You can contact me via: <br />
			<i class="{{ site.data.about.social.telegram.icon }} fa-fw"></i> <a href="{{ site.data.about.social.telegram.href }}">Telegram</a>, or <br />
			<i class="{{ site.data.about.social.discord.icon }} fa-fw"></i> <a href="{{ site.data.about.social.discord.href }}">Discord</a> ({{ site.data.about.social.discord.handle }}), or <br />
			<i class="{{ site.data.about.social.proemail.icon }} fa-fw"></i> <a href="{{ site.data.about.social.proemail.href }}">Email</a>, for professional inquiries
		</p>
	</div>
	<div class="col-lg-7">
		<div class="list-group list-group-dark">
			<!-- <a href="https://matiboux.com/" class="list-group-item list-group-item-action">
				<i class="fas fa-archive fa-fw"></i> Projects Platform</a> -->
			<a href="https://opensource.matiboux.com/" class="list-group-item list-group-item-action">
				<i class="fab fa-github fa-fw"></i> Open-Source Repositories</a>
			<a href="{{ '/cv' | relative_url }}" class="list-group-item list-group-item-action">
				<i class="fas fa-id-card fa-fw"></i> Curriculum Vitae (detailed)</a>
			<a href="https://resume.matiboux.me/" class="list-group-item list-group-item-action">
				<i class="fas fa-file-lines fa-fw"></i> Resume (printable PDF)</a>
			<a href="{{ '/timeline' | relative_url }}" class="list-group-item list-group-item-action">
				<i class="fas fa-stream fa-fw"></i> Work timeline</a>
			<a href="{{ '/about' | relative_url }}" class="list-group-item list-group-item-action">
				<i class="fas fa-user fa-fw"></i> About me</a>
			<a href="{{ '/donate' | relative_url }}" class="list-group-item list-group-item-action">
				<i class="far fa-heart fa-fw"></i> Donate</a>
			<a href="{{ '/legal' | relative_url }}" class="list-group-item list-group-item-action">
				<i class="fas fa-balance-scale fa-fw"></i> Legal</a>
		</div>
	</div>
</div>