<footer id="footer">
	<div>
		<ul>
			<li>
				<i class="fab fa-github fa-fw"></i> <a href="{{ site.github.repository_url }}">Open-Source repository</a>
				<small>(v. {{ site.github.build_revision | slice: 0, 7 | default: 'dev' }})</small>
			</li>
			<li><i class="fas fa-fire-alt fa-fw"></i> Powered by <b>GitHub Pages</b></li>
		</ul>
	</div>
	<div>
		<ul>
			<li>We use cookies for analytics purposes.</li>
			<li>Made with love by <a href="https://matiboux.me/">Matiboux</a>. <i class="fas fa-heart fa-fw" style="color: #c04040"></i></li>
		</ul>
	</div>
</footer>
