{% if include.group %}
	<h2>{{ include.group.title }}</h2>
	{% if include.group.items %}
		<div class="cv-items">
			{% assign item_view_control = false %}
			{% if include.group.items %}
				{% for item in include.group.items %}
					{% if item.visible == false %}
						{% assign item_view_control = true %}
						{% break %}
					{% endif %}
				{% endfor %}
			{% endif %}

			{% if item_view_control %}
				<div class="toggle-btn"
						data-text-toggle-on="<i class=&quot;fas fa-plus fa-fw&quot;></i> Show hidden items"
						data-text-toggle-off="<i class=&quot;fas fa-minus fa-fw&quot;></i> Hide items back">
					<i class="fas fa-ellipsis-h fa-fw"></i> Loading...
				</div>
			{% endif %}

			{% for item in include.group.items %}
				<div class="item {% if item.visible == false %}toggle{% endif %}" {% if item.visible == false %}style="display: none"{% endif %}>
					<div class="content">
						<h4>
							{{ item.title }}
							{% if item.link %}
								<small class="d-print-none"><a href="{{ item.link }}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
							{% endif %}
						</h4>
						{% if item.position %}
							<p class="position">{{ item.position }}</p>
						{% endif %}

						{% if item.award %}
							<p class="award">{{ item.award }}</p>
						{% endif %}
						{% if item.awards %}
							{% for award in item.awards %}
								<p class="award">{{ award }}</p>
							{% endfor %}
						{% endif %}

						{% if item.detailed != null %}
							<div class="toggle-btn"
									data-text-toggle-on="<i class=&quot;fas fa-angle-right fa-fw&quot;></i> Show details"
									data-text-toggle-off="<i class=&quot;fas fa-angle-down fa-fw&quot;></i> Hide details">
								<i class="fas fa-ellipsis-h fa-fw"></i> Loading...
							</div>
						{% endif %}

						<div class="description {% if item.detailed != null %}toggle{% endif %}" {% if item.detailed	 == false %}style="display: none"{% endif %}>
							{% if item.info %}
								<p><i class="fas fa-info-circle fa-fw"></i> {{ item.info }}</p>
							{% endif %}
							{% if item.description %}
								{% if item.description.first %}
									{% for description_item in item.description %}
										{% if description_item.first %}
											{% if description_item.title %}
												<h6>
													{% if description_item.icon %}
														<i class="{{ description_item.icon }} fa-fw"></i>
													{% endif %}
													{{ description_item.title }}
												</h6>
											{% endif %}
											{% if description_item.items %}
												<ul>
													{% for item in description_item.items %}
														{% if item.text %}
															<li>
																{{ item.text }}
																{% if item.link %}
																	<small class="d-print-none"><a href="{{ item.link }}"><i class="fas fa-external-link-alt fa-fw"></i></a></small>
																{% endif %}
															</li>
														{% else %}
															<li>{{ item }}</li>
														{% endif %}
													{% endfor %}
												</ul>
											{% endif %}
										{% else %}
											<p>{{ description_item }}</p>
										{% endif %}
									{% endfor %}
								{% else %}
									<p>{{ item.description }}</p>
								{% endif %}
							{% endif %}
						</div>
					</div>
					{% if item.location or item.date %}
						<div class="meta">
							{% if item.location %}
								<p class="location">{{ item.location }}</p>
							{% endif %}
							{% if item.date %}
								<p class="date">{{ item.date }}</p>
							{% endif %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endif %}
