{% if include.items %}
	<div class="timeline-items">
		{% for item in include.items %}
			<div class="item">
				<div class="date">
					<p>{{ item.date }}</p>
					{% if item.category == 'active' %}
						<p class="badge badge-pill badge-primary"><i class="fas fa-star fa-fw"></i> Active</p>
					{% elsif customer.name == 'standby' %}
						<p class="badge badge-pill badge-success"><i class="fas fa-pause fa-fw"></i> Standby</p>
					{% elsif customer.name == 'inactive' %}
						<p class="badge badge-pill badge-warning"><i class="far fa-star fa-fw"></i> Inactive</p>
					{% elsif customer.name == 'replaced' %}
						<p class="badge badge-pill badge-secondary"><i class="fas fa-times fa-fw"></i> Replaced</p>
					{% elsif customer.name == 'left' %}
						<p class="badge badge-pill badge-danger"><i class="fas fa-sign-out-alt fa-fw"></i> Left</p>
					{% elsif customer.name == 'dead' %}
						<p class="badge badge-pill badge-danger"><i class="fas fa-times fa-fw"></i> Dead</p>
					{% elsif customer.name == 'knowledge' %}
						<p class="badge badge-pill badge-primary"><i class="fas fa-graduation-cap fa-fw"></i> Knowledge</p>
					{% endif %}
				</div>
				<div class="misc">
					<div class="bullet"></div>
					<div class="line"></div>
				</div>
				<div class="content">
					<h4>{{ item.title }}</h4>
					{% if item.description %}
						<p class="description">{{ item.description }}</p>
					{% endif %}
					{% if item.tag %}
						<p class="tag"><i class="fas fa-tag fa-fw"></i> {{ item.tag }}</p>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}