---

const githubBuildRevision = null as string | null // site.github.build_revision
const build = githubBuildRevision ? githubBuildRevision.slice(0, 7) : 'dev'
---

<footer id="footer">
	<div>
		<ul>
			<li>
				<i class="fab fa-github fa-fw"></i> <a href="{{ site.github.repository_url }}">Open-Source repository</a>
				<small>(v. {build})</small>
			</li>
			<li><i class="fas fa-fire-alt fa-fw"></i> Powered by <b>GitHub Pages</b></li>
		</ul>
	</div>
	<div>
		<ul>
			<li>We use cookies for analytics purposes.</li>
			<li>Made with love by <a href="https://matiboux.me/">Matiboux</a>. <i class="fas fa-heart fa-fw" style="color: #c04040"></i></li>
		</ul>
	</div>
</footer>

<style>
	#footer {
		display: flex;
		margin: 2em 0 -2em;
		padding: .5em 1.5em;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border-top: 2px solid #808080;
	}

	#footer > * { width: 100%; margin: .5em; text-align: center }
	#footer ul { margin: 0; padding: 0; list-style: none }
	#footer ul > li small { color: #808080; font-size: 70% }
	#footer ul > li .fab, #footer ul > li .fas { margin-right: 5px }

	@media (min-width: 768px) {
		#footer { justify-content: space-between }
		#footer > * { width: auto }
		#footer > *:first-child { text-align: left }
		#footer > *:last-child { text-align: right } }
</style>
