---
import { getAbsoluteLocaleUrl } from 'astro:i18n'

import Layout from '~/layouts/Layout.astro'
import type { Props as BaseProps } from '~/layouts/Layout.astro'
import Avatar from '~/components/Avatar.astro'
import Footer from '~/components/Footer.astro'

import '@fontsource-variable/inter'
import '@fortawesome/fontawesome-free/css/all.min.css'
import 'bootstrap/dist/css/bootstrap.min.css'
import bootstrapJs from 'bootstrap/dist/js/bootstrap.bundle.min.js?url'
import favicon from '~/assets/favicon.png'

import { defaultLocale, i18nFactory } from '~/i18n'
const _url = (path?: string) => getAbsoluteLocaleUrl(Astro.currentLocale ?? defaultLocale, path)
const _ = i18nFactory(Astro.currentLocale as any)

export interface Props extends BaseProps
{
	containerClass?: string
	isHome?: boolean
	showAvatar?: boolean
	noScripts?: boolean
}
---

<Layout
	{...Astro.props}
	favicon={Astro.props.favicon ?? favicon}
	socialUrl={Astro.props.socialUrl ?? Astro.site}
>

	<main id="main">
		<div class:list={['container', Astro.props.containerClass]}>
			{Astro.props.isHome !== true &&
				<a href={_url('/')}>
					&lsaquo; {_('Back to home page')}
				</a>
			}

			<div class="title">
				{Astro.props.showAvatar === true &&
					<Avatar />
				}

				<h1>{Astro.props.title}</h1>
			</div>

			<slot />
		</div>
	</main>

	<Footer />

</Layout>

<style>
:global(html) {
	display: flex;
	height: 100%;
	justify-content: center;
	box-sizing: border-box;
}

:global(body) {
	display: flex;
	background: #202020;
	width: 100%;
	min-height: 100%;
	padding: 2em 1em;
	flex-direction: column;
	color: #f0f0f0;
}
@media print { :global(body) { color: #000 } }
:global(body.page-error) { background: #903030 }

:global(a) { color: #50a0f0 }
:global(a):hover { color: #4080c0 }

:global(hr) { border-color: rgba(255, 255, 255, .1) }

@media (min-width: 576px) { :global(.mw-sm) { max-width: 540px } }
@media (min-width: 768px) { :global(.mw-md) { max-width: 720px } }
@media (min-width: 992px) { :global(.mw-lg) { max-width: 960px } }
@media (min-width: 1200px) { :global(.mw-xl) { max-width: 1140px } }


/** Main wrapper */

:global(#main) {
	display: block;
	width: 100%;
	margin: auto;
}

/** Special wrappers */

.title {
	margin-bottom: 1.5rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid #808080;
	text-align: center;
}
.title h1 { font-weight: bold; margin-bottom: 0 }
.title :global(img) {
	display: block;
	max-height: 120px;
	margin: 0 auto .5rem;
	border: 2px solid #306090;
	border-radius: 5px;
}

@media (min-width: 576px) {
	.title { text-align: left }
	.title :global(img), .title h1 { display: inline-block; vertical-align: bottom }
	.title :global(img) { margin-bottom: 0; margin-right: 1rem } }
</style>

{Astro.props.noScripts !== true && (
	<script src={bootstrapJs}></script>
	// <script>
	// 	$('[data-toggle="popover"]').popover()
	// 	$('[data-toggle="tooltip"]').tooltip()
	// </script>
)}
