#main .devices-items
	{ margin-bottom: 1rem; padding-top: .5rem; padding-left: 0; border-left: 0 }


/*
@media (min-width: 576px) {
	#main .devices-items { padding-left: 1rem; border-left: 2px solid #f0f0f0 } }

#main .devices-items .toggle-btn { display: block; color: #c0c0c0 !important; font-size: 14px }
#main .devices-items > .toggle-btn { margin-bottom: .5rem }
@media print { #main .devices-items .toggle-btn { display: none } }
#main .devices-items .toggle-btn:hover { color: #a0a0a0 !important; text-decoration: none }
@media not print {
	#main .devices-items .toggle-btn + .toggle { margin-top: 5px !important }
	#main .devices-items .item > .content .toggle { margin-left: 8px; padding-left: 1rem; border-left: 2px solid #a0a0a0 } }
*/

#main .devices-items .item { display: flex; margin-bottom: 1rem; align-items: start; justify-content: left }
@media print {
	#main .devices-items .item { page-break-inside: avoid } }

#main .devices-items .item > .type { background-color: #f0f0f0; width: 60px; line-height: 60px; color: #202020; font-size: 1.5em; text-align: center; border-radius: 50%; }

#main .devices-items .item > .content { margin-left: 1rem; padding-left: 1rem; border-left: 2px solid #f0f0f0 }
#main .devices-items .item > .content > * { margin-bottom: 5px; font-size: 14px }
#main .devices-items .item > .content .date { font-weight: 500 }
@media not print {
	#main .devices-items .item > .content .date { color: #c0c0c0 }
	#main .devices-items .item.toggle:hover > .meta .date,
	#main .devices-items .item.toggle:focus > .meta .date
		{ color: #d0d0d0 } }
#main .devices-items .item > .content ul .icon { margin-top: 4px; margin-left: -40px; position: absolute }
#main .devices-items .item > .content ul small { color: #c0c0c0; font-size: .9em; }

/*
#main .devices-items .item > .content h4 { margin-top: 0; font-size: 20px }
@media not print {
	#main .devices-items .item.toggle > .content h4 { color: #c0c0c0 }
	#main .devices-items .item.toggle:hover > .content h4,
	#main .devices-items .item.toggle:focus > .content h4
		{ color: #d0d0d0 } }
#main .devices-items .item > .content .position { color: #c0c0c0; font-size: 16px; font-variant: small-caps }
#main .devices-items .item:hover > .content .position,
#main .devices-items .item:focus > .content .position { color: #d0d0d0 }
#main .devices-items .item > .content .award { color: #50a0f0; font-variant: small-caps }
#main .devices-items .item > .content .position ~ .award { margin-top: -5px }
#main .devices-items .item > .content .description,
#main .devices-items .item > .content > ul
	{ margin-top: 10px; color: #a0a0a0 }
#main .devices-items .item:hover > .content .description,
#main .devices-items .item:focus > .content .description,
#main .devices-items .item:hover > .content > ul,
#main .devices-items .item:focus > .content > ul
	{ color: #c0c0c0 }
#main .devices-items .item > .content .description > * { margin-bottom: 5px }
#main .devices-items .item > .content .description h6 { font-variant: small-caps }
#main .devices-items .item > .content .description ul { margin-bottom: 10px }
#main .devices-items .item > .content .description a { color: #4080c0 }
#main .devices-items .item > .content .description a:hover,
#main .devices-items .item > .content .description a:focus
	{ color: #306090 }
#main .devices-items .item:hover > .content .description a,
#main .devices-items .item:focus > .content .description a
	{ color: #50a0f0 }
#main .devices-items .item:hover > .content .description a:hover,
#main .devices-items .item:focus > .content .description a:hover,
#main .devices-items .item:hover > .content .description a:focus,
#main .devices-items .item:focus > .content .description a:focus
	{ color: #4080c0 }
#main .devices-items .item > .content ul { padding-left: 20px }

#main .devices-items .item > .meta { text-align: right }
#main .devices-items .item > .meta .location { font-size: 16px; font-weight: 500 }
@media not print {
	#main .devices-items .item.toggle > .meta .location { color: #c0c0c0 }
	#main .devices-items .item.toggle:hover > .meta .location,
	#main .devices-items .item.toggle:focus > .meta .location
		{ color: #d0d0d0 } }
*/
