/** matiboux.me CSS stylesheet */

html {
	display: flex;
	height: 100%;
	justify-content: center;
	box-sizing: border-box;
}

body {
	display: flex;
	background: #202020;
	width: 100%;
	min-height: 100%;
	padding: 2em 1em;
	flex-direction: column;
	color: #f0f0f0;
}
body.page-error { background: #903030 }

@media print { body { color: #000 } }

a { color: #50a0f0 }
a:hover { color: #4080c0 }

hr { border-color: rgba(255, 255, 255, .1) }

*:last-child { margin-bottom: 0 }

@media (min-width: 576px) { .mw-sm { max-width: 540px } }
@media (min-width: 768px) { .mw-md { max-width: 720px } }
@media (min-width: 992px) { .mw-lg { max-width: 960px } }
@media (min-width: 1200px) { .mw-xl { max-width: 1140px } }


#main {
    display: block;
	width: 100%;
    margin: auto;
}

#footer {
	display: flex;
	margin: 2em 0 -2em;
	padding: .5em 1.5em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid #808080;
}
#footer > * {
	margin: .5em;
}
#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer ul > li .fab, #footer ul > li .fas {
	margin-right: 5px;
}


#main .cv-about .media > * { align-self: center }
#main .cv-about .media img { border: 2px solid #4080c0; border-radius: .5rem }
#main .cv-about .about-social-links { padding-left: 0; list-style: none }
#main .cv-about .about-social-links > *, #main .cv-about .about-social-links a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
}
#main .cv-about .about-social-links a { color: #fff }
#main .cv-about .about-social-links a:hover { color: #eee }

#main .timeline-items { margin-bottom: 30px }
#main .timeline-items > * + * { padding-top: 10px }
#main .timeline-items > * > * {
	position: relative;
	display: table-cell;
	padding-right: 10px;
	vertical-align: top;
}

#main .timeline-items > * > .date {
	width: 100px;
	padding-top: 2px;
	font-size: 13px;
	text-align: right;
}
#main .timeline-items > * > .date > * { margin: 0 }
#main .timeline-items > * > .date .badge { font-weight: 500 }
#main .timeline-items > * > .misc .bullet {
	background: #f0f0f0;
	width: 7px;
	height: 7px;
	margin-top: 10px;
	border: 1px solid #202020;
	border-radius: 50%;
}
#main .timeline-items > * > .misc .bullet.bullet-lg {
	margin-top: 8px;
	margin-left: -2px;
	width: 11px;
	height: 11px;
}
#main .timeline-items > * > .misc .line {
	position: absolute;
	height: calc(100% + 3px);
	top: 17px;
	left: 3px;
	border-left: 1px solid #bbb;
	z-index: -1;
}
#main .timeline-items > * > .content > * { margin-bottom: 5px; font-size: 12px }
#main .timeline-items > * > .content h4 { font-size: 20px }
#main .timeline-items > * > .content p, #main .timeline-items > * > .content p a { color: #808080 }
#main .timeline-items > * > .content p { display: inline-block; vertical-align: top }
#main .timeline-items > * > .content .description { display: block; margin-top: 3px; margin-left: 0; color: #c0c0c0 }
#main .timeline-items > * > .content p:not(.description) + p { margin-left: 5px }
#main .timeline-items > * > .content ul { padding-left: 20px }
#main .timeline-items:after {
	position: absolute;
	display: block;
	width: 9px;
	margin-top: 20px;
	margin-left: 99px;
	content: "";
	border-top: 1px solid #bbb;
}

#main .legend {
	color: #c0c0c0;
	font-size: .8em;
}


#main .cv-about, #main .cv-items {
	margin-bottom: 1rem;
	padding-top: .5rem;
	padding-left: 1rem;
	border-left: 2px solid #f0f0f0;
}

#main .cv-items .toggle-btn { display: block; color: #c0c0c0 !important; font-size: 14px }
@media print { #main .cv-items .toggle-btn { display: none } }
#main .cv-items .toggle-btn:hover { color: #a0a0a0 !important; text-decoration: none }
@media not print {
	#main .cv-items .toggle-btn + .toggle { margin-top: 5px } 
	#main .cv-items .item > .content .toggle { margin-left: 8px; padding-left: 1rem; border-left: 2px solid #a0a0a0 } }

#main .cv-items .item {
	display: flex;
	margin-bottom: 1rem;
	align-items: start;
	justify-content: space-between;
}
@media print { #main .cv-items .item { page-break-inside: avoid } }
#main .cv-items .item > * > * { margin-bottom: 5px; font-size: 14px }
#main .cv-items .item > .content h4 { margin-top: 0; font-size: 20px }
#main .cv-items .item > .content .position { color: #c0c0c0; font-size: 16px; font-variant: small-caps }
#main .cv-items .item:hover > .content .position, #main .cv-items .item:focus > .content .position { color: #d0d0d0 }
#main .cv-items .item > .content .award { color: #50a0f0; font-variant: small-caps }
#main .cv-items .item > .content .position ~ .award { margin-top: -5px }
#main .cv-items .item > .content .description, #main .cv-items .item > .content > ul { margin-top: 10px; color: #a0a0a0 }
#main .cv-items .item:hover > .content .description, #main .cv-items .item:focus > .content .description,
#main .cv-items .item:hover > .content > ul, #main .cv-items .item:focus > .content > ul { color: #c0c0c0 }
#main .cv-items .item > .content .description > * { margin-bottom: 5px }
#main .cv-items .item > .content .description h6 { font-variant: small-caps }
#main .cv-items .item > .content .description ul { margin-bottom: 10px }
#main .cv-items .item > .content .description a { color: #4080c0 }
#main .cv-items .item > .content .description a:hover, #main .cv-items .item > .content .description a:focus { color: #306090 }
#main .cv-items .item:hover > .content .description a, #main .cv-items .item:focus > .content .description a { color: #50a0f0 }
#main .cv-items .item:hover > .content .description a:hover, #main .cv-items .item:focus > .content .description a:hover,
#main .cv-items .item:hover > .content .description a:focus, #main .cv-items .item:focus > .content .description a:focus { color: #4080c0 }
#main .cv-items .item > .content ul { padding-left: 20px }
#main .cv-items .item > .meta { text-align: right }
#main .cv-items .item > .meta .location { font-size: 16px; font-weight: 500 }



/** Special wrappers */

.title {
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid #808080;
	text-align: center;
}
.title h1 {
	font-weight: bold;
	margin-bottom: 0;
}
.title img {
	display: block;
	width: 100px;
	margin: 0 auto .5rem;
	border: 2px solid #306090;
	border-radius: 5px;

}
@media (min-width: 576px) {
	.title {
		text-align: left;
	}
	.title img, .title h1 {
		display: inline-block;
		vertical-align: bottom;
	}
	.title img {
		margin-bottom: 0;
		margin-right: 1rem;
	}
}

.social-icons {
	list-style: none;
	padding: 0;
}
.social-icons li {
	display: inline;
	font-size: 2em;
}
.social-icons li a {
	color: #f0f0f0;
	text-decoration: none;
}
.social-icons li a:hover, .social-icons li a:focus {
	color: #50a0f0;
}


.list-group-dark .list-group-item {
	background-color: #404040;
}
.list-group-dark .list-group-item-action {
	color: #f0f0f0;
}
.list-group-dark .list-group-item-action:hover,
.list-group-dark .list-group-item-action:focus {
	color: #f0f0f0;
	background-color: #3c3c3c;
}
.list-group-dark .list-group-item-action:active {
	color: #f0f0f0;
	background-color: #383838;
}
