---
import { getAbsoluteLocaleUrl } from 'astro:i18n'

import DefaultBase from '~/layouts/DefaultBase.astro'

import { i18nFactory, defaultLocale } from '~/i18n'
const _ = i18nFactory(Astro.currentLocale as any)
const _url = (path?: string) => getAbsoluteLocaleUrl(Astro.currentLocale ?? defaultLocale, path)

const title = _({
	en: '404 Not found',
	fr: '404 Non trouvée'

})
---

<DefaultBase
	title={title}
	bodyClass='page-error'
	noScripts={true}
>

	<main id="main">
		<div class="container mw-md">
			<a href={_url('/')} class="btn btn-dark btn-sm mb-2">&lsaquo; {_('Back to home page')}</a>
			<h1>{title}</h1>
			<p set:html={_({
				en: 'We did not find that page you were looking for.',
				fr: 'Nous n\'avons pas trouvé la page que vous cherchiez.'
			})} />
		</div>
	</main>

</DefaultBase>
