---
import { getAbsoluteLocaleUrl } from 'astro:i18n'

import Layout from '~/layouts/Layout.astro'

import { defaultLocale } from '~/i18n'
const _url = (path?: string) => getAbsoluteLocaleUrl(Astro.currentLocale ?? defaultLocale, path)

const title = '404 Not Found'
---

<Layout
	title={title}
	bodyClass='page-error'
	noScripts={true}
>

	<main id="main">
		<div class="container mw-md">
			<a href={_url('/')} class="btn btn-dark btn-sm mb-2">&lsaquo; Back to home page</a>
			<h1>{title}</h1>
			<p>We did not find that page you were looking for.</p>
		</div>
	</main>

</Layout>
