---
import Default from '~/layouts/Default.astro'

const title = 'Legal'
---

<Default
	title={title}
	containerClass='mw-md'
>

	<ul>
		<li><b>Owner & Webmaster</b>: Mathieu Guérin (Matiboux) – <a href="https://matiboux.me/">matiboux.me</a></li>
		<li><b>Host</b>: <a href="https://pages.github.com/">Github Pages</a> – 88 Colin P Kelly Jr St, San Francisco, CA 94107, United States</li>
	</ul>

	<p>By using this website, you allow us to create and use cookies for analytics purposes.</p>

</Default>
