---
import Default from '~/layouts/Default.astro'

const title = 'Legal'
---

<Default
	title={title}
	containerClass='mw-md'
>

	<p>
		<u>Owner & Webmaster:</u> <b>Mathieu Guérin</b> (Matiboux) <br />
		<a href="https://matiboux.me/">matiboux.me</a>
	</p>

	<p>
		<u>Hosting provider:</u> <b>Github Pages</b> <br />
		88 Colin P Kelly Jr St, San Francisco, CA 94107, United States <br />
		<a href="https://pages.github.com/">pages.github.com</a>
	</upl>

	<!-- <p>By using this website, you allow us to create and use cookies for analytics purposes.</p> -->

</Default>
