---
layout: bodyfull
---

<main id="main">
	<div class="container {{ page.container_class }}">
		{% unless layout.home or page.home %}
			<a href="{{ '/' | relative_url }}">&lsaquo; Back to home page</a>
		{% endunless %}

		<div class="title">
			{% if page.avatar %}
				{% if page.avatar.src %}
					<img src="{{ page.avatar.src }}" {% if page.avatar.alt %}alt="{{ page.avatar.alt }}"{% endif %} />
				{% elsif page.avatar.file %}
					<img src="{{ page.avatar.file | relative_url }}" {% if page.avatar.alt %}alt="{{ page.avatar.alt }}"{% endif %} />
				{% else %}
					<img src="{{ page.avatar }}" />
				{% endif %}
			{% endif %}

			<h1>{{ page.title }}</h1>
		</div>

		{{ content }}
	</div>
</main>

{% include footer.html %}
