<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% if site.title %}
		<meta name="title" content="{{ site.title }}" />
	{% endif %}
	{% if site.description %}
		<meta name="description" content="{{ site.description }}" />
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />

	<title>
		{{ site.title }}
		{% if page.title %}– {{ page.title }}{% endif %}
	</title>

</head>
<body>


	<main id="main">
		<div class="container {{ page.container_class }}">
			<a href="{{ '/' | relative_url }}">&lsaquo; Back to home page</a>
			<div class="title">
				{% if page.avatar %}
					<img src="{{ page.avatar }}" {% if page.avatar_alt %}alt="{{ page.avatar_alt }}"{% endif %} />
				{% endif %}
				<h1>{{ page.title }}</h1>
			</div>
			
			{{ content }}
		</div>
	</main>

	<footer id="footer">
		<div>
			<ul>
				<li><i class="fab fa-github fa-fw"></i> <a href="{{ site.github.repository_url }}">Open-Source repository</a></li>
				<li><i class="fas fa-fire-alt fa-fw"></i> Powered by <b>GitHub Pages</b></li>
			</ul>
		</div>
		<div>
			<ul>
				<li><i class="fas fa-globe fa-fw"></i> <a href="https://matiboux.me/">matiboux.me</a></li>
				<li>Made with love by Matiboux. <i class="fas fa-heart fa-fw" style="color: #c04040"></i></li>
			</ul>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>

</body>
</html>
