---
layout: bodyfull
---

<main id="main">
	<div class="container {{ page.container_class }}">
		{% unless page.home %}
			<a href="{{ '/' | relative_url }}">&lsaquo; Back to home page</a>
		{% endunless %}
		
		<div class="title">
			{% if page.avatar %}
				<img src="{{ page.avatar }}" {% if page.avatar_alt %}alt="{{ page.avatar_alt }}"{% endif %} />
			{% endif %}
			<h1>{{ page.title }}</h1>
		</div>
		
		{{ content }}
	</div>
</main>

<footer id="footer">
	<div>
		<ul>
			<li><i class="fab fa-github fa-fw"></i> <a href="{{ site.github.repository_url }}">Open-Source repository</a></li>
			<li><i class="fas fa-fire-alt fa-fw"></i> Powered by <b>GitHub Pages</b></li>
		</ul>
	</div>
	<div style="text-align: right">
		<ul>
			<li>We use cookies for analytics purposes.</li>
			<li>Made with love by <a href="https://matiboux.me/">Matiboux</a>. <i class="fas fa-heart fa-fw" style="color: #c04040"></i></li>
		</ul>
	</div>
</footer>
